NODE_ENV=development
PORT=3000
WORKER_PORT=3001
LOG_LEVEL=info
MONGODB_URI=mongodb://localhost:27018/activity_logs
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=activity-log-service
KAFKA_TOPIC=user.activity.v1
KAFKA_DLQ_TOPIC=user.activity.dlq.v1
KAFKA_CONSUMER_GROUP=activity-log-processors-v1
KAFKA_SSL=false
# KAFKA_SASL_MECHANISM=plain
# KAFKA_SASL_USERNAME=
# KAFKA_SASL_PASSWORD=
